.accountHeader {
    color: rgb(33 33 33 / 0.4);
}
.accountItem {
    display: flex;
    align-items: center;
}

.accountAvatar {
    max-height: 50px;
    border-radius: 30px;
    margin: 4px 10px;
}

.accountInfor {
}

.accountName {
}

.accountDetail {
    color: rgb(33 33 33 / 0.4);
}
